/*Basic styling */
*{
    padding: 0%;
    margin: 0%;
    font-family: Poppins;
  
}
body{
  position: relative;
}

/*styling  the landing page*/
.landingpage{
    background-color:#e5e5e5;
    min-height: 70vh;
    position: relative;

}

.oval-container{
  background-color: #B8E79C !important;
  position: absolute;
  width: 92vw;
  height: 76vw;
  top: -46em;
  right: -19em;
  z-index: 3;
  border-radius: 50%;
}

  .eat-together-section{
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    display: flex;
}
.eat-together-section>img{
  width: 100%;
}


.eat-together-text{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:center;
}
.eat-together-text>h1{
  text-align: center;
  margin-left: 12rem;
}


